.iphone,.android{
    width: 50%;
}
.android{
    margin-left: -80px;
    width:70%;
}
.image{
    border-radius: 100%;
    height:100px;
    width: 100px;
  
}
#business{
    font-size: 12px;
}
.customer {
    margin-bottom: 130px;
}